<mat-nav-list appAccordion>
    <ng-container *ngFor="let menuitem of menuItem.getMenuitems()">
        <mat-list-item appAccordionLink *ngIf="(menuitem.role === '' || menuitem.role === tokenPayload.role)">
            <a style="text-decoration: none; padding: 5px 5px 5px 5px; border-radius: 4px;"
               appAccordionToggle [routerLink]="['/cafe',menuitem.state]">
                <mat-icon>{{menuitem.icon}}</mat-icon>
                <span>{{menuitem.name}}</span>
                <span fxFlex></span>
            </a>
        </mat-list-item>
    </ng-container>
</mat-nav-list>
